@model CargoManagementDataAccess.Entity.Models.CargoType
@{
    ViewBag.Title = "CreateCargoType";
}
<div class="flex  my-6">
    <!-- Back Button -->
    <a href="@Url.Action("CargoTypeList", "Admins")"
       class="px-4 py-2 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 transition duration-300 ease-in-out">
        Back to CargoType List
    </a>
</div>

<div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-2xl mx-auto">
    <h1 class="text-2xl text-blue-600 font-semibold text-center mb-6">CargoType Registration</h1>

    @using (Html.BeginForm("CreateCargoType", "Admins", FormMethod.Post))
    {
       
<div class="grid grid-cols-2 gap-4 mt-3">
    <div>
        <label for="Name" class="block text-sm font-medium text-gray-700">Cargo Name</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control w-full px-2 py-1 mt-1 border rounded-md text-sm" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-red-500 text-xs" })
    </div>

    <div>
        <label for="Weight" class="block text-sm font-medium text-gray-700">Cargo Weight</label>
        @Html.TextBoxFor(model => model.Weight, new { @class = "form-control w-full px-2 py-1 mt-1 border rounded-md text-sm" })
        @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-red-500 text-xs" })
    </div>

    <div>
        <label for="Price" class="block text-sm font-medium text-gray-700">Cargo Price</label>
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control w-full px-2 py-1 mt-1 border rounded-md text-sm" })
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-red-500 text-xs" })
    </div>

    <div>
        <label for="ExtraWeight" class="block text-sm font-medium text-gray-700">Cargo ExtraWeight</label>
        @Html.TextBoxFor(model => model.ExtraWeight, new { @class = "form-control w-full px-2 py-1 mt-1 border rounded-md text-sm" })
        @Html.ValidationMessageFor(model => model.ExtraWeight, "", new { @class = "text-red-500 text-xs" })
    </div>

    <div>
        <label for="ExtraPrice" class="block text-sm font-medium text-gray-700">Cargo ExtraPrice</label>
        @Html.TextBoxFor(model => model.ExtraPrice, new { @class = "form-control w-full px-2 py-1 mt-1 border rounded-md text-sm" })
        @Html.ValidationMessageFor(model => model.ExtraPrice, "", new { @class = "text-red-500 text-xs" })
    </div>
</div>

        

       

        <div class="mt-4 flex space-x-4">
          
            <a href="@Url.Action("CargoTypeList", "Admins")" class="w-1/2 bg-gray-600 text-white py-2 rounded-md text-sm text-center hover:bg-gray-700 transition duration-300">View CargoType</a>

           
            <button type="submit" class="w-1/2 bg-green-600 text-white py-2 rounded-md text-sm hover:bg-green-700 transition duration-300">Register CargoType</button>
        </div>


    }
</div>
